<?xml version="1.0" encoding="UTF-8"?>

<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"-->
<!--	default-init-method="init"-->
<!--	default-destroy-method="destroy"-->
<!-->-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="com.dkghost.beans.DkghostBeanPostProcessor"></bean>

<!--	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>-->

	<!--	<bean id="persona" class="com.dkghost.beans.Persona"
	autowire="byName">-->
	<!--		<property name="id" value="1"></property>-->
	<!--		<property name="nombre" value="Jose"></property>-->
	<!--		<property name="apodo" value="dkghost"></property>-->
	<!--	</bean>-->

	<!-- bean persona con scope prototype, init-method y destroy-method -->
	<bean id="persona" class="com.dkghost.beans.Persona" autowire="byName">
		<property name="id" value="1"></property>
		<property name="nombre" value="Jose"></property>
		<property name="apodo" value="dkghost"></property>
	</bean>

	<bean id="pais" class="com.dkghost.beans.Pais">
		<!-- <property name="ciudad" ref="ciudad"></property> -->
		<property name="nombre" value="Mexico"></property>
	</bean>

	<bean id="ciudad" class="com.dkghost.beans.Ciudad">
		<property name="nombre" value="Zacatecas"></property>
	</bean>

</beans>