<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.dkghost.beans.Mundo">
		<property name="saludo" value="Hola Mundo!"></property>
	</bean>

	<bean id="mundillo" class="com.dkghost.beans.Mundo">
		<property name="saludo" value="Que onda mundillo!"></property>
	</bean>


<!--	<bean id="persona" class="com.dkghost.beans.Persona" autowire="byName">-->
<!--		<property name="id" value="1"></property>-->
<!--		<property name="nombre" value="Jose"></property>-->
<!--		<property name="apodo" value="dkghost"></property>-->
<!--	</bean>-->

<!-- bean persona con scope prototype -->	
	<bean id="persona" class="com.dkghost.beans.Persona" autowire="byName" scope="prototype">
		<property name="id" value="1"></property>
		<property name="nombre" value="Jose"></property>
		<property name="apodo" value="dkghost"></property>
	</bean>

	<bean id="pais" class="com.dkghost.beans.Pais">
		<!-- <property name="ciudad" ref="ciudad"></property> -->
		<property name="nombre" value="Mexico"></property>
	</bean>

	<bean id="ciudad" class="com.dkghost.beans.Ciudad">
		<property name="nombre" value="Zacatecas"></property>
	</bean>

</beans>